<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<% @specialist.appointments.each do |appointment| %>
        <% if appointment.appointment_date >= Date.today %>
            <%= appointment.appointment_date %>
            <%= (appointment_date - Date.now).to_i%></br>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
